.meFoto {
  width: 80%;
  border: 2px solid white;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner {
  margin-top: 0px;
  padding: 100px 0 100px 0;
  background-color: rgba(0, 0, 0, 0.35);
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

p {
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5;
}

.banner-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
